.sidebar {
    width: 250px;
    height: 100vh;
    background: white;
    box-shadow: 2px 0px 12px 0px rgba(0, 0, 0, 0.06);
}
.sidebar__header{
    height: 60px;
    background: #3b3b45;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.sidebar__header h2 {
    margin: auto;
}

.sidebar_menu li {
    padding: 10px 20px;
}
.sidebar_menu li:hover {
    background: #e7e7e7;
}

.sidebar_menu li a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
    cursor: pointer;
}

/*===================*/

.home {
    /*width: calc(100% - 250px);*/
}


.add h1 {
    margin-bottom: 30px;
}
.add {
    width: 300px
}
.add input {
    margin-bottom: 20px;

}
/*producers*/

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    height: 15px;
    font-size: 14px;
}

/*#customers tr:nth-child(even){background-color: #f2f2f2;}*/

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

/*=============== Modal ============*/

.modal {
    padding: 30px;
}

.modal input {
    margin-bottom: 20px;
}
